---
title: About Towelie
layout: base.njk
---

<div class="container">
    <h1>About Towelie</h1>
    <img src="https://media.giphy.com/media/l0HlRDXTV4uZn3h6g/giphy.gif" alt="Towelie"/>
    <div class="vibe"></div>
    <div class="love">❤️ Jamstack ❤️</div>
</div>

{% for item in news %}
    <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}

<script src="/js/vibe.js"></script>