---
title: The Adventures of Towelie
layout: base.njk
---

<div class="container">
    <h1>The Adventures of Towelie</h1>
    <img src="https://media.giphy.com/media/l0HlRDXTV4uZn3h6g/giphy.gif" alt="Towelie"/>
    <div class="vibe"></div>
    <div class="love">❤️❤️❤️</div>
</div>
<script src="/js/vibe.js"></script>