---
title: The Daily Towel
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <h1>The Adventures of Towelie</h1>
    <img src="https://media.giphy.com/media/l0HlRDXTV4uZn3h6g/giphy.gif" alt="Towelie"/>
    <div class="vibe"></div>
    <div class="love">❤️❤️❤️</div>

    <div id="weather" class="hidden">
        <h2>Weather Near You</h2>
        <p id="city"></p>
        <p id="temp"></p>
        <p id="main"></p>
        <p id="desc"></p>
    </div>

    <h2>Towelie Reports in Your Country</h2>
    <ul>
    {% for article in news.articles %}
        <li>
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>

        </li>
    {% endfor %}
    </ul>
</div>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>
